 * {      /* 星号为通配符，即所有html的标签都要遵循 */
      margin: 0;
      padding: 0;
  }
  body {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;  /* 以上3行让body内的标签居中body */
      height: 100vh;  /* body高度占满整个浏览器的可视范围 */
      background: #777;  /* 背景颜色 */
  }
  div {
      width: 100%;
      height: 100%;  /* 以上2行表明占满整个body，也即占满了整个浏览器的可视范围 */
      display: flex;
      justify-content: center;
      align-items: center;  /* 以上3行表明div内的标签居中于该div */
  }
  ul {
      list-style: none;  /* 不显示列表的默认样式 */
  }
  li {
      padding: 10px 20px;
      text-align: center;  /* li内文字居中显示 */
      font-size: 6em;  /* li内文字的字号大小 */
  }
  a {
      display: inline-block;
      color: #000;  /* 字体为黑色 */
      text-decoration: none;  /* 去掉超链接的下划线 */
      text-transform: uppercase;  /* 内部文字全部大写 */
  }
  a:hover {  /* 当鼠标落于a标签内部时，触发一下样式，离开时回复原本样式 */
      opacity: 0.5;  /* 透明度 */
      text-shadow: 3px 3px 5px #000;  /* 添加文字的阴影特效，分别表示：x方向偏移，y方向偏移，增益，颜色 */
  }